.register-card {
  padding: 1rem;
  min-width: 50rem;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: center;

  .register-logo {
    width: 12rem;
    height: 12rem;
    border-radius: 7rem;
    display: flex;
    margin: auto;
  }

  .register-title {
    text-align: center;
  }

  .register-input{
    max-width: 100px !important;
  }

  .email, .password, .names {
    max-width: 50%;
    min-width: 50%;
  }

  .register-form {
    padding: 1rem;
    display: flex;
    flex-direction: column;

    .btn-wrapper {
      display: flex;
      gap: 1rem;
    }

    .icon {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
