<mat-card class="register-card">
  <mat-card-content>
    <mat-card-title class="register-title"
      >Register .Msg Recycling</mat-card-title
    >
    <img src="../../../assets/register.png" class="register-logo" />

    <mat-stepper class="example-stepper" orientation="vertical">
      <mat-step [stepControl]="firstFormGroup" label="E-mail">
        <form [formGroup]="firstFormGroup" class="register-form">
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input
              matInput
              placeholder="Enter your email address"
              formControlName="firstCtrl"
              required
            />
          </mat-form-field>
          <div>
            <button mat-raised-button matStepperNext color="primary">
              Next
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup" label="Password">
        <form [formGroup]="secondFormGroup" class="register-form">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              formControlName="secondCtrl"
              placeholder="Enter your password"
              required
              type="password"
            />
            <mat-icon
              matSuffix
              clickable
              class="icon"
              (click)="changePassVisible()"
              [fontIcon]="passVisible"
            ></mat-icon>
          </mat-form-field>
          <div class="btn-wrapper">
            <button mat-raised-button matStepperPrevious color="warn">
              Back
            </button>
            <button mat-raised-button matStepperNext color="primary">
              Next
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="thirdFormGroup" label="Name & Last Name">
        <form [formGroup]="thirdFormGroup" class="register-form">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input
              matInput
              formControlName="thirdCtrl"
              placeholder="Ex. 12345678"
              required
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input
              matInput
              formControlName="thirdCtrl"
              placeholder="Last Name"
              required
            />
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-card-content>
</mat-card>
