<mat-card class="register-card">
  <mat-card-content>
    <mat-card-title class="register-title"
      >Register .Msg Recycling</mat-card-title
    >
    <img src="../../../assets/register.png" class="register-logo" alt="register-logo" />

    <mat-stepper  orientation="horizontal" [linear]="true">
      <mat-step [stepControl]="emailFormGroup" label="E-mail">
        <form [formGroup]="emailFormGroup" class="register-form email">
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input
              matInput
              placeholder="Enter your email address"
              formControlName="email"
              required
            />
          </mat-form-field>
          <div class="btn-wrapper">
            <button mat-raised-button color="accent" (click)="navigateToLoginPage()">
             Back To Login
            </button>
            <button mat-raised-button matStepperNext color="primary">
              Next
            </button>

          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="passwordFormGroup" label="Password">
        <form [formGroup]="passwordFormGroup" class="register-form password">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              formControlName="password"
              placeholder="Enter your password"
              required
              type="password"
            />
            <mat-icon
              matSuffix
              class="icon"
              (click)="changePassVisible()"
              [fontIcon]="passVisible"
            ></mat-icon>
          </mat-form-field>
          <div class="btn-wrapper">
            <button mat-raised-button matStepperPrevious color="accent">
              Back
            </button>
            <button mat-raised-button matStepperNext color="primary">
              Next
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="namesFormGroup" label="Name & Last Name">
        <form [formGroup]="namesFormGroup" class="register-form names">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input
              matInput
              formControlName="name"
              placeholder="Ex. 12345678"
              required
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input
              matInput
              formControlName="lastName"
              placeholder="Last Name"
              required
            />
          </mat-form-field>

          <div class="btn-wrapper">
            <button mat-raised-button matStepperPrevious color="accent">Back</button>
            <button mat-raised-button matStepperNext color="primary">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="addressFormGroup" label="Address Information">
        <form [formGroup]="addressFormGroup" class="register-form">
          <mat-form-field appearance="outline">
            <mat-label>Address Line 1</mat-label>
            <input
              matInput
              formControlName="addressLine1"
              placeholder="Ex. str Surduc Apt No: 4"
              required
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Address Line 2</mat-label>
            <input
              matInput
              formControlName="addressLine2"
              placeholder="Ex. Timisoara 35005"
              required
            />
          </mat-form-field>

          <div class="btn-wrapper">
            <button mat-raised-button matStepperPrevious color="accent">Back</button>
            <button mat-raised-button color="primary" (click)="registerToApp()">Register</button>
          </div>
        </form>
      </mat-step>

     </mat-stepper>
  </mat-card-content>
</mat-card>
