<mat-card class="login-card">
  <img src="../../../assets/login-recycling.png" class="login-logo" alt="login logo"/>
  <mat-card-title class="title">Login .Msg Recycling </mat-card-title>
  <mat-card-content class="content">
    <form class="form" [formGroup]="loginFormControl">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="Ex. pat@example.com"
        />

        @if (loginFormControl.get("email")) {
        <mat-error>{{ getErrorMessage() }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Password</mat-label>
        @if(passVisible === 'visibility') {
        <input type="password" matInput formControlName="password" />}
        @else{<input type="text" matInput formControlName="password" />}
        <mat-icon
          matSuffix
          [fontIcon]="passVisible"
          class="icon"
          (click)="changePassVisible()"
        ></mat-icon>
      </mat-form-field>
      <div class="btn-wrapper">
        <button mat-raised-button color="primary" (click)="login()">Login</button>
        <button
          mat-raised-button
          color="accent"
          (click)="navigateToRegisterPage()"
        >
          Sign Up
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
