.login-card {
  display: flex;
  align-items: center;
  min-width: 40rem;
  min-height: 20rem;
  padding: 1rem;

  .form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .login-logo {
    width: 14rem;
    height: 14rem;
    border-radius: 7rem;
  }

  .form-field {
    display: flex;
    flex-direction: column;
  }

  .title {
    margin-bottom: 1rem;
  }

  .content {
    margin-top: 1rem;
  }

  .btn-wrapper {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }

  .icon {
    &:hover {
      cursor: pointer;
    }
  }
}
